@font-face {
  font-family: "JetBrainsMono", "Courier New", Courier, monospace;
  font-style: light;
  font-weight: 200;
  src: url(./JetBrainsMono-Light.woff2) format("woff2");
}

@font-face {
  font-family: "JetBrainsMono";
  font-style: normal;
  font-weight: 400;
  src: url(./JetBrainsMono-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "JetBrainsMono";
  font-style: bold;
  font-weight: 700;
  src: url(./JetBrainsMono-Bold.woff2) format("woff2");
}
